/* Put your css in here */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  white-space: nowrap;
  padding: 2px 5px;
}

.pit-grid-header {
  background-color: white;
}

.pit-grid-selected {
  background-color: red;
}

.pit-grid-hover {
  background-color: #f5f5f5 !important;
}

.pit-grid-odd-row {
  background-color: #f9f9f9;
}

.pit-grid-sortstate, .pit-grid-hidden-column-toggler {
  cursor: pointer;
  margin-left: 5px;
}

.hidden {
  display:none;
}

input {
  width:75px;
}