<table ng-controller="TableCtrl" class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th pit-grid-sort-source="Barcode" pit-grid-sort-data-type="number" pit-grid-fixed-column>Barcode</th>
      <th pit-grid-fixed-column>Insp Lot</th>
      <th pit-grid-fixed-column>asd</th>
      <th pit-grid-sort-source="realIndex">asd</th>
      <th pit-grid-sort-source="MSTR_CHAR">Char</th>
      <th>Sample ID</th>
      <th pit-grid-hideable-column>FIANITRAT</th>
      <th pit-grid-hideable-column>FIANITRIT</th>
      <th>WEIGHT</th>
      <th>9NITRAT</th>
      <th>9NITRIT</th>
    </tr>
  </thead>
  <tbody>
    <tr><!--   ng-repeat="row in rows | filter:isRowHidden"> -->
      <td><input type="checkbox" ng-checked="selected" ng-click="selected = !selected"/></td>
      <td pit-trim-leading-zeros>{{Barcode}}</td>
      <td pit-trim-leading-zeros>{{INSPLOT}}</td>
      <td>{{realIndex}}</td>
      <td>{{realIndex}}</td>
      <td>{{MSTR_CHAR}}</td>
      <td>{{SAMPLEID}}</td>
      <td><input type="text" ng-model="FIANITRAT" pit-only-numbers/></td>
      <td><input type="text" ng-model="FIANITRIT" pit-only-numbers/></td>
      <td><input type="text" ng-model="WEIGHT" pit-only-numbers/></td>
      <td ng-model="9NITRAT" pit-calculated pit-calculated-formula="pitGridConfig.CALCULATIONS.9NITRAT" pit-calculated-decimals="2" sap-result>{{9NITRAT}}</td>
      <td ng-model="9NITRIT" pit-calculated pit-calculated-formula="pitGridConfig.CALCULATIONS.9NITRIT" pit-calculated-decimals="2" sap-result>{{9NITRIT}}</td>
    </tr>
  </tbody>
</table>