<!DOCTYPE HTML>
<html ng-app="gridtest">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
    <title>AngularJS gridtest</title>

    <link type="text/css"  rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css"  rel="stylesheet" href="css/style.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/pitControls/utils.js"></script>
    <script type="text/javascript" src="js/pitControls/namespaces.js"></script>
    <script type="text/javascript" src="js/pitControls/services/utilities.js"></script>
    <script type="text/javascript" src="js/pitControls/directives/pitGrid.js"></script>
    <script type="text/javascript" src="js/pitControls/directives/pitCalculated.js"></script>
    <script type="text/javascript" src="js/pitControls/directives/pitOnlyNumbers.js"></script>
    <script type="text/javascript" src="js/pitControls/directives/pitTrimLeadingZeros.js"></script>
    <script type="text/javascript" src="js/pitControls/directives/pitProgressIndicator.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

  </head>

  <body ng-controller="MainCtrl">
    <div class="header">
      <p>Loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooongstring</p>
    </div>
    <div class="menu">
      <p>Hello {{name}}!</p>
    </div>
    <div class="header">
      <p>Hello {{name}}!</p>
    </div>
    <div class="menu">
      <p>Hello {{name}}!</p>
    </div>
    <div class="header">
      <p>Hello {{name}}!</p>
    </div>
    <div class="menu">
      <p>Hello {{name}}!</p>
    </div>
    <div class="header">
      <p>Hello {{name}}!</p>
    </div>
    <div class="menu">
      <p>Hello {{name}}!</p>
    </div>
    <div class="header">
      <p>Hello {{name}}!</p>
    </div>
    <div class="menu">
      <p>Hello {{name}}!</p>
    </div>
    <div class="header">
      <p>Hello {{name}}!</p>
    </div>
    <div class="menu">
      <p>Hello {{name}}!</p>
    </div>
    <div class="container" style="margin-left: 200px;">
      <button ng-click="removeEvenRow()">Remove even row</button>
      <input type="text" ng-model="visibleRows[1].MSTR_CHAR">
      <div
        pit-grid
        pit-grid-data-source="visibleRows"
        pit-grid-template="table.html"
        pit-grid-config="config.json"
        pit-grid-editable="toggle"
        pit-grid-height="250px"
        pit-grid-fixed-header
        pit-grid-enable-fixed-columns
        pit-grid-row-select
        pit-grid-render-mode="virtual"
        pit-grid-loading-propery="loading"
        pit-grid-row-hover-highlight
        pit-grid-row-color-odds
        pit-grid-pagesize="20">
      </div>
      <br>
      <button class="btn" ng-click="scope_progress = scope_progress+20">Go progress!</button>
      <div pit-progress-indicator="scope_progress"></div>
    </div>
    <div class="footer">
      <p>Hello {{name}}!</p>
    </div>
  </body>

</html>
