<table ng-controller="TableCtrl" class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th pit-grid-sort-source="Barcode" pit-grid-sort-data-type="number" pit-grid-fixed-column>Barcode</th>
      <th pit-grid-fixed-column>Insp Lot</th>
      <th pit-grid-sort-source="realIndex">asd</th>
      <th pit-grid-sort-source="MSTR_CHAR">Char</th>
      <th>Sample ID</th>
      <th pit-grid-hideable-column>FIANITRAT</th>
      <th pit-grid-hideable-column>FIANITRIT</th>
      <th>WEIGHT</th>
      <th>9NITRAT</th>
      <th>9NITRIT</th>
    </tr>
  </thead>
  <tbody>
    <tr><!--   ng-repeat="row in rows | filter:isRowHidden"> -->
      <td><input type="checkbox" ng-checked="row.selected" ng-click="row.selected = !row.selected"/></td>
      <td pit-trim-leading-zeros>{{row.Barcode}}</td>
      <td pit-trim-leading-zeros>{{row.INSPLOT}}</td>
      <td>{{row.realIndex}}</td>
      <td>{{row.MSTR_CHAR}}</td>
      <td>{{row.SAMPLEID}}</td>
      <td><input type="text" ng-model="row.FIANITRAT" pit-only-numbers/></td>
      <td><input type="text" ng-model="row.FIANITRIT" pit-only-numbers/></td>
      <td><input type="text" ng-model="row.WEIGHT" pit-only-numbers/></td>
      <td ng-model="row.9NITRAT" pit-calculated pit-calculated-formula="pitGridConfig.CALCULATIONS.9NITRAT" pit-calculated-decimals="2" sap-result>{{row.9NITRAT}}</td>
      <td ng-model="row.9NITRIT" pit-calculated pit-calculated-formula="pitGridConfig.CALCULATIONS.9NITRIT" pit-calculated-decimals="2" sap-result>{{row.9NITRIT}}</td>
    </tr>
  </tbody>
</table>